@model SageOneSample.Models.SudokuViewModel
<div class="jumbotron">
    <h1>Quick Code Demo</h1>
    <p>This is part of an old school project that 
    I modified to demonstrate server side coding style.
    Originally this was an AI written in C++ that auto-solved any sudoku puzzle entered.
    I'm refactoring it to be a playable mobile sudoku puzzle across platform.
    I thought of the change while attempting to implement the AI without memory leaks in unmanaged code.
    Also, couldn't find the final project submission so I was redo-ing the AI.  Not worth the effort...
    </p>
</div>
<div class="row">
    Please input your sudoku string: <input type="text" id="sudokustring" /> <input type="button" value="Submit" id="btnSubmitPuzzle" />
</div>
<div class="row">
    <div class="col-md-3 col-lg-3">
        <button id="btnPostDBCall">Do Stuff</button>
        <button id="btnPostAPICall">Do Other Stuff</button>
    </div>
</div>
<div class="row" id="SampleTable">

</div>
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/IndexDashboard.js"></script>