body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
table, td{
    border: 1px solid black;
}
tr{
    height: 25px;
}
td{
    width: 25px;
}
td + td + td{
    border-right: 5px solid black !important;
}
td + td + td + td{
    border-right: 1px solid black !important;
}
td + td + td + td + td + td{
    border-right: 5px solid black !important;
}
td + td + td + td + td + td + td{
    border-right: 1px solid black !important;
}
tr + tr + tr {
    border-bottom: 5px solid black !important;
}
tr + tr + tr + tr  {
    border-bottom: 1px solid black !important;
}
tr + tr + tr + tr + tr + tr  {
    border-bottom: 5px solid black !important;
}
tr + tr + tr + tr + tr + tr + tr {
    border-bottom: 1px solid black !important;
}